$color-yellow: #f2f2dd;
$color-dark-blue: #0e1538;
$color-blue: #7079f7;
$color-red: #fb5b5b;
$font-family: "Luxurious Roman", cursive;

$margin-center: 0 auto;

$medium-media: 1080px;
$small-media: 768px;
