@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap");

@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
}

.nav-bar {
  background-color: $color-dark-blue;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 15px 25px;

  @include small {
    flex-wrap: wrap;
  }

  .logo {
    display: flex;
    align-items: flex-end;

    @include small {
      flex: 0 0 60%;
      order: 1;
    }

    img {
      height: 40px;
    }

    h2 {
      color: $color-yellow;
    }
  }

  .nav-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 30%;
    white-space: nowrap;

    @include medium {
      width: 50%;
    }

    @include small {
      flex-direction: column;
      text-align: center;
      flex: 0 0 100%;
      order: 3;
    }

    li {
      &:hover {
        background-color: $color-yellow;

        a {
          color: $color-dark-blue;
        }
      }

      @include small {
        padding: 20px 0;
      }

      a {
        padding: 10px 15px;
        color: $color-yellow;
        text-decoration: none;
      }
    }
  }

  button {
    font-family: $font-family;
    padding: 5px 15px;
    border-radius: 20px;
    align-self: center;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;

    @include medium {
      align-self: flex-end;
    }

    @include small {
      white-space: nowrap;
      order: 2;
    }
  }
}

header {
  background-image: url(../slike/background.jpeg);
  // background-position: center;
  background-size: cover;
  height: 90vh;
  padding-top: 10%;

  @include medium {
    height: 100vh;
    background-position: center;
    padding-top: 5% 0;
  }

  @include small {
    padding-bottom: 10%;
    height: 100%;
  }

  form {
    width: 50%;
    margin: $margin-center;
    background-color: white;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-align: center;
    color: $color-dark-blue;
    font-weight: bold;

    @include medium {
      width: 90%;
    }

    @include small {
      text-align: left;
      flex-wrap: wrap;
      padding-left: 20px;
    }
    .form-item {
      width: 30%;

      @include small {
        width: 100%;
        margin-bottom: 10px;
      }

      input {
        padding: 20px 0px 20px 5px;
        border-radius: 50px;
        border: 1px solid $color-dark-blue;
        width: 98%;

        @include small {
          width: 100%;
        }
      }
    }

    input[type="submit"] {
      background-color: $color-red;
      position: relative;
      border: none;
      padding: 20px;
      border-radius: 50px;
      margin-top: 20px;
      color: $color-yellow;
      transform: rotateY(180deg);
      cursor: pointer;

      @include small {
        width: 100%;
        border-radius: 50px;
      }
    }
  }
}

.cards {
  padding: 10px;

  h1 {
    text-align: center;
    font-size: 3rem;
  }

  .wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 20px 10px;

    @include medium {
      flex-wrap: wrap;
      gap: 20px;
    }

    .wrapper-item {
      flex: 0 0 30%;
      border-radius: 20px;
      box-shadow: 5px 5px 10px $color-blue;
      text-align: center;
      padding: 10px 0;

      @include medium {
        flex: 0 0 45%;
      }

      @include small {
        flex: 0 0 95%;
      }

      img {
        height: 350px;
        width: 60%;
        border-radius: 20px;
        transition: transform 800ms ease-in-out;

        &:hover {
          transform: rotateY(180deg) scale(1.2);
        }
      }

      h3 {
        font-size: 1.3rem;
      }
    }
  }
}
footer {
  background-color: $color-dark-blue;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 20px 0px;

  @include medium {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 50px 0;
  }

  iframe {
    width: 30%;
    height: 300px;

    @include medium {
      width: 80%;
      order: 1;
    }

    @include small {
      width: 90%;
    }
  }

  .footer-links {
    display: flex;
    gap: 50px;

    .support,
    .info {
      display: flex;
      flex-direction: column;
      color: $color-yellow;
      margin-top: 20px;

      @include medium {
        margin-top: 0px;
      }

      a {
        color: $color-yellow;
        text-decoration: none;
      }
    }
  }
}
